 `.change-dialog {
  --gap: 14px; /* overrides global */

  margin-bottom: var(--gap);

  display: grid;
  grid-template:
    "icon  title    title"  auto
    "icon  preview  accept" auto
   / auto  auto     auto;
  gap: var(--gap);
  width: fit-content;
  justify-items: start;

  .title {
    grid-area: title;
    font-size: 16px;
    line-height: 1;
    /* margin-bottom: var(--gap); */
  }

  .icon {
    grid-area: icon;
  }

  .preview {
    grid-area: preview;
  }

  .accept {
    grid-area: accept;
  }
}