@import url("./ui.css");
@import url("./colors.css");

* {
  box-sizing: border-box;
}

:root {
  --gap: 20px;
  --md-gap: 16px;
  --sm-gap: 10px;
  --lg-gap: 30px;
}

main {
  background: var(--bg-offwhite);
}

h2 {
  font-size: 16px;
}

.view-header {
  width: 100%;
  padding: var(--gap);
  border-bottom: 1px solid var(--border-default);
}